<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 组件扫描 -->
	<context:component-scan base-package="com.gj.course.dao" />
	
	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.mysql.driver}" />
		<property name="url" value="${db.mysql.url}" />
		<property name="username" value="${db.mysql.username}" />
		<property name="password" value="${db.mysql.passwd}" />
		<!-- 链接池配置 -->
		<property name="maxActive" value="${db.mysql.maxActive}" />
		<property name="maxIdle" value="${db.mysql.maxIdle}" />
		<property name="removeAbandoned" value="${db.mysql.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${db.mysql.removeAbandonedTimeout}" />
		<property name="maxWait" value="${db.mysql.maxWait}" />
		<property name="validationQuery" value="${db.mysql.validationQuery}" />
		<property name="testOnBorrow" value="${db.mysql.testOnBorrow}" />
		<property name="testWhileIdle" value="${db.mysql.testWhileIdle}" />
		<property name="testOnReturn" value="${db.mysql.testOnReturn}" />
	</bean>

	<!-- Session Factory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 查找映射配置文件 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.gj.course.persistence" />
	</bean>

</beans>